<!DOCTYPE html>
<html ng-app='foApp'>
<head>
    <meta charset="utf-8" />
    <title>World Simulator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="vendor/vender.css" rel="stylesheet" />
    <script src="vendor/vender.js"></script>

    <script src="foundry/version.js"></script>
    <script src="foundry/foundry.core.tools.js"></script>
    <script src="foundry/foundry.core.dto.js"></script>
    <script src="foundry/foundry.core.node.js"></script>
    <script src="foundry/foundry.core.link.js"></script>

    <script src="foundry/foundry.core.component.js"></script>
    <script src="foundry/foundry.code.pubsub.js"></script>
    <script src="foundry/foundry.core.property.js"></script>
    <script src="foundry/foundry.core.collection.js"></script>


    <script src="foundry/foundry.core.meta.js"></script>
    <script src="foundry/foundry.core.factory.js"></script>
    <script src="foundry/foundry.core.factoryrelate.js"></script>
    <script src="foundry/foundry.core.entitydb.js"></script>
    <script src="foundry/foundry.core.listops.js"></script>

    <script src="foundry/foundry.core.workspace.js"></script>

    <script src="indexCAD.js"></script>
    <script src="dataservice.js"></script>
    <script src="ontologyLocationModel.js"></script>
    <script src="render3dservice.js"></script>
    <script src="filesaver.js"></script>

    <!--<script src="foundry/foundry.ui.ngdialog.html" type="text/ng-template"></script>-->
    <script src="foundry/foundry.ui.ngdialog.js"></script>


</head>
<body ng-controller="workspaceController as ws">
    <div class="container well">
        <h1>{{ws.title}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-1">

            <button class="btn btn-default" ng-click="ws.doAddPlane()">Add Plane</button><br />
            <button class="btn btn-default" ng-click="ws.doAddBlock()">Add Block</button><br />
            <button class="btn btn-default" ng-click="ws.doExport()">Export STL</button><br />
            <a class="btn btn-default" href="http://www.viewstl.com/" target="_blank">View STL</a><br />

        </div>
        <div class="col-lg-6">
            <div id="cadWorld"  style="height:800px">
            </div>
        </div>
        <div class="col-lg-5">
            <h1>Model Tree {{ws.model.myName}}</h1>
            <ul>
                <li ng-repeat="obj in ws.model.mySubcomponents()" ng-include="'modelTreeItem.html'"></li>
            </ul>
        </div>

    </div>

</body>
</html>