
<script id="editEntityHeader.html" type="text/ng-template">
    <p>You are editing an entity</p>
</script>


<script id="editEntityFooter.html" type="text/ng-template">
    <button class='btn btn-success' data-dismiss='modal' ng-click="doOK()">OK</button>
    <button class='btn btn-default ' data-dismiss='modal' ng-click="doCancel()">Cancel</button>
</script>



<script type="text/ng-template" id="editEntityBody.html">

    <div>
        <!--<div>{{context.myType}}</div>-->

        <div ng-repeat="prop in ::context.userInputs()">
            <label for="{{::prop.myName}}" class="control-label">{{::prop.myName}}:</label>
            <div ng-if="::prop.isType('string') ">
                <input id="{{::prop.myName}}" class="form-control" style="display:inline" capture-focus="true" ng-model="context[prop.myName]" placeholder="add stuff" />
            </div>
            <div ng-if="::prop.isType('text') ">
                <textarea id="{{::prop.myName}}" class="form-control" capture-focus="true" rows="5" ng-model="context[prop.myName]" placeholder="add stuff"></textarea>
            </div>
            <div ng-if="::prop.isType('datetime') ">
                <input id="{{::prop.myName}}" class="form-control" style="display:inline" capture-focus="true" ng-model="context[prop.myName]" placeholder="add stuff" />
            </div>
            <div ng-if="::prop.isType('number') ">
                <input id="{{::prop.myName}}" class="form-control" style="display:inline" capture-focus="true" ng-model="context[prop.myName]" placeholder="add stuff" />
            </div>
        </div>

    </div>

    <ul>
        <li ng-repeat="context in context.mySubcomponents()" ng-include="'editEntityBody.html'"></li>
    </ul>

</script>



<script id="nodeBody.html" type="text/ng-template">

    <div class="form-horizontal" role="form">
        <div class="form-group notePanel-formGroup" style="margin-left:2px">
            <label for="IDTextSummary" class="control-label">details:</label>
            <input id="IDTextSummary" x-webkit-speech class="form-control" style="display:inline" capture-focus="true" ng-model="context.description" placeholder="the note headline" />
        </div>

        <label for="IDTextNote" class="control-label">Details:</label>
        <textarea class="form-control" id="IDTextNote" rows="5" ng-model="context.description" placeholder="the note text"></textarea>
    </div>

</script>

<script type="text/ng-template" id="nodeView.html">

    <div class="box" ng-click="ws.selectedNode(node)">
        <h5>{{node.id}} - {{node.dateTimeUtc | date:'MM/dd/yyyy @ h:mma'}}</h5>
        <button class="btn btn-success" style="float:right" ng-click="ws.editNode(node)">edit</button>
        <div ng-repeat="obj in [node.place]" ng-include="'placeView.html'"></div>
        <div style="margin:10px">{{node.description}}</div>
    </div>

</script>

<script type="text/ng-template" id="placeView.html">
    <strong>location:</strong>
    <a ng-href="{{'https://www.google.com/?gws_rd=ssl#q=' + obj.name}}" target="_blank">{{obj.name}}</a>
    <span ng-repeat="obj in [obj.geoLocation]" ng-include="'geoLocationView.html'"></span>
</script>

<script type="text/ng-template" id="geoLocationView.html">
    <strong>lat: </strong>{{obj.latitude}}
    <strong>long: </strong>{{obj.longitude}}
</script>


<script type="text/ng-template" id="editSpecItem.html">
    <ul>
        <li ng-repeat="prop in ::context.userInputs()">
            <label for="{{prop.myName}}" class="control-label">{{prop.myName}}:</label>
            <input id="{{prop.myName}}" x-webkit-speech class="form-control" style="display:inline" capture-focus="true" ng-model="context[prop.myName]" placeholder="add stuff" />
        </li>
    </ul>
</script>

<script type="text/ng-template" id="modelTreeItem.html">

    <article>
        <div ng-click="root.doEdit(obj)">
            <div>id = {{obj.myGuid}}  {{obj.myType}}</div>
            <ul>
                <li ng-repeat="prop in ::obj.userInputs()">
                    <div>{{::prop.myName}} = {{obj[prop.myName]}}</div>
                </li>
            </ul>
        </div>
        <ul>
            <li ng-repeat="obj in obj.mySubcomponents()" ng-include="'modelTreeItem.html'"></li>
        </ul>

    </article>
</script>