<script id="nodeBody.html" type="text/ng-template">

    <div class="form-horizontal" role="form">
        <div class="form-group notePanel-formGroup" style="margin-left:2px">
            <label for="IDTextSummary" class="control-label">details:</label>
            <input id="IDTextSummary" x-webkit-speech class="form-control" style="display:inline" capture-focus="true" ng-model="context.description" placeholder="the note headline" />
        </div>

        <label for="IDTextNote" class="control-label">Details:</label>
        <textarea class="form-control" id="IDTextNote" rows="5" ng-model="context.description" placeholder="the note text"></textarea>



    </div>

</script>