<script id="cadBody.html" type="text/ng-template">

    <div class="form-horizontal" role="form">
        <div class="form-group notePanel-formGroup" style="margin-left:2px">
            <label for="IDTextSummary" class="control-label">cad Headline:</label>
            <input id="IDTextSummary" x-webkit-speech class="form-control" style="display:inline" capture-focus="true" ng-model="context.headerText" placeholder="the note headline" />
        </div>


        <div class="panel-collapse" collapse="!showDetails">
            <div class="form-group notePanel-formGroup" style="margin-left:2px">
                <label for="IDTextNote" class="control-label">Details:</label>
                <textarea class="form-control" id="IDTextNote" rows="5" ng-model="context.noteText" placeholder="the note text"></textarea>
            </div>
            <div class="form-group notePanel-formGroup" style="margin-left:2px">
                <label for="IDTextURI" class="control-label"> <a href="#" target="_blank" ng-disable="!context.hasNoteUri" ng-href="{{context.noteUri}}">Link: </a>(ex. http://www.knowtshare.com)</label>
                <input class="form-control" id="IDTextURI" ng-model="context.noteUri" placeholder="the note uri" />
                <img ng-show="context.hasImageUri" ng-src="{{context.noteUri}}" alt="image missing" height="100" />
            </div>
        </div>

    </div>

</script>