<!DOCTYPE html>
<html ng-app='foApp'>
<head>
    <meta charset="utf-8" />
    <title>World Simulator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href="vendor/vender.css" rel="stylesheet" />
    <script src="vendor/vender.js"></script>

    <script src="foundry/version.js"></script>
    <script src="foundry/foundry.core.tools.js"></script>
    <script src="foundry/foundry.core.dto.js"></script>
    <script src="foundry/foundry.core.node.js"></script>
    <script src="foundry/foundry.core.link.js"></script>


    <script src="foundry/foundry.core.component.js"></script>
    <script src="foundry/foundry.core.pubsub.js"></script>
    <script src="foundry/foundry.core.property.js"></script>
    <script src="foundry/foundry.core.collection.js"></script>


    <script src="foundry/foundry.core.meta.js"></script>
    <script src="foundry/foundry.core.factory.js"></script>
    <script src="foundry/foundry.core.factoryrelate.js"></script>
    <script src="foundry/foundry.core.entitydb.js"></script>
    <script src="foundry/foundry.core.listops.js"></script>

    <script src="index3DModel.js"></script>
    <script src="dataservice.js"></script>
    <script src="ontologymodel.js"></script>
    <script src="render3dservice.js"></script>



</head>
<body ng-controller="workspaceController as ws">
    <div class="row">
        <div class="col-lg-3">
            <h1>{{ws.title}}</h1>
            <button class="btn btn-default" ng-click="ws.doStop()">stop</button>
            <button class="btn btn-default" ng-click="ws.doScale('big')">+s (big)</button>
            <button class="btn btn-default" ng-click="ws.doScale('small')">-s (small)</button>
            <button class="btn btn-default" ng-click="ws.doSize('enlarge')">(enlarge)</button>
            <button class="btn btn-default" ng-click="ws.doSize('shrink')">(shrink)</button>
            <h3>Spin...</h3>
            <button class="btn btn-default" ng-click="ws.doSpin('x')">spin x</button>
            <button class="btn btn-default" ng-click="ws.doSpin('y')">spin y</button>
            <button class="btn btn-default" ng-click="ws.doSpin('z')">spin z</button>
            <h3>Slide...</h3>
            <button class="btn btn-default" ng-click="ws.doSlide('left')">-x (left)</button>
            <button class="btn btn-default" ng-click="ws.doSlide('right')">+x (right)</button>
            <button class="btn btn-default" ng-click="ws.doSlide('up')">+y (up)</button>
            <button class="btn btn-default" ng-click="ws.doSlide('down')"> -y (down)</button>
            <button class="btn btn-default" ng-click="ws.doSlide('near')">+z (near)</button>
            <button class="btn btn-default" ng-click="ws.doSlide('far')">-z (far)</button>
            <h3>Circle...</h3>
            <button class="btn btn-default" ng-click="ws.doCircle('left')">(left)</button>
            <button class="btn btn-default" ng-click="ws.doCircle('right')">(right)</button>
            <button class="btn btn-default" ng-click="ws.doCircle('up')">(up)</button>
            <button class="btn btn-default" ng-click="ws.doCircle('down')">(down)</button>
            <button class="btn btn-default" ng-click="ws.doCircle('near')">(near)</button>
            <button class="btn btn-default" ng-click="ws.doCircle('far')">(far)</button>
            <h3>Circle Globe...</h3>
            <button class="btn btn-default" ng-click="ws.doCircleGlobe('left')">(left)</button>
        </div>
        <div class="col-lg-9">
            <div id="earth" class="container" style="height:800px">
            </div>
        </div>
    </div>
</body>
</html>