<!DOCTYPE html>
<html ng-app="foApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>paris attacks</title>

    <link href="vendor/vender.css" rel="stylesheet" />
    <script src="vendor/vender.js"></script>
    <link href="vendor/leaflet.css" rel="stylesheet" />
    <script src="vendor/leaflet-src.js"></script>

    <!--<link href="../bower_components/leaflet/dist/leaflet.css" rel="stylesheet" />
    <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
    <script src="../bower_components/leaflet/dist/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>-->

    <script src="foundry/version.js"></script>
    <script src="foundry/foundry.core.tools.js"></script>
    <script src="foundry/foundry.core.dto.js"></script>
    <script src="foundry/foundry.core.node.js"></script>
    <script src="foundry/foundry.core.link.js"></script>

    <script src="foundry/foundry.core.component.js"></script>
    <script src="foundry/foundry.core.pubsub.js"></script>
    <script src="foundry/foundry.core.property.js"></script>
    <script src="foundry/foundry.core.collection.js"></script>


    <script src="foundry/foundry.core.meta.js"></script>
    <script src="foundry/foundry.core.factory.js"></script>
    <script src="foundry/foundry.core.factoryrelate.js"></script>
    <script src="foundry/foundry.core.entitydb.js"></script>
    <script src="foundry/foundry.core.listops.js"></script>

    <script src="foundry/foundry.core.workspace.js"></script>

    <!--<script src="vendor/foundry.core.js"></script>-->

    <script src="indexParisAttacks.js"></script>
    <script src="dataservice.js"></script>
    <script src="ontologyLocationModel.js"></script>
    <script src="render3dservice.js"></script>
    <script src="timelinerenderservice.js"></script>

    <script src="foundry/foundry.ui.ngdialog.js"></script>

    <style>
        #map {
            height: 980px;
        }
        #earth {
            height: 500px;
        }
        .box {
            margin: 10px;
        }
        .open {
            margin: 10px;
            float:right;
        }
    </style>

</head>
<body ng-controller="workspaceController as ws">
    <div class="well">
        <h1>{{ws.title}}</h1>
        <span ng-repeat="obj in ws.createOntology" class="open">
            <button class="btn btn-default" ng-click="ws.doAdd(obj)">Add {{obj | buttonLabel}}</button>
        </span>
    </div>
    <div class="row">
        <!--<div class="col-lg-1">

            <div ng-repeat="node in ws.nodeDB.items">
                <div class="box" ng-click="ws.selectedNode(node)">
                    <div>{{node.dateTimeUtc | date:'MM/dd/yyyy @ h:mma'}}</div>
                </div>
            </div>
        </div>-->
        <div class="col-lg-6">
            <div class="box" id="timeLine"></div>
            <div style="border : solid 2px #ff0000;  padding : 4px;  height : 600px; overflow : auto; ">
                <div class="box" ng-repeat="node in ws.nodeDB.items" ng-include="ws.computeInclude(node)"></div>
            </div>

        </div>
        <div class="col-lg-6">
            <div id="map"></div>
            <div id="earth"></div>
        </div>

    </div>

</body>
</html>