<!DOCTYPE html>
<html data-ng-app="foundry" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>flight dialog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/content/toastr.min.css" rel="stylesheet" />
</head>
<body data-ng-controller="FoundryController">


    <h1>{{vm.title}}</h1>
    <input type="button" value="open dialog" ng-click="vm.openDialog()" />

    <table st-table="rowCollection" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="id">ID</th>
                <th st-sort="flightNumber">flight</th>
                <th st-sort="travelNexus">travel nexus</th>
                <th st-sort="travelNexus">depart iata</th>
                <th st-sort="travelNexus">depart country</th>
                <th st-sort="travelNexus">arrive iata</th>
                <th st-sort="travelNexus">arrive country</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="row in flights">
                <td>{{row.id}}</td>
                <td>{{row.flightNumber}}</td>
                <td>{{row.travelNexus}}</td>
                <td>{{row.departureAirport.iataCode}}</td>
                <td>{{row.departureAirport.countryCode}}</td>
                <td>{{row.arrivalAirport.iataCode}}</td>
                <td>{{row.arrivalAirport.countryCode}}</td>
            </tr>
        </tbody>
    </table>


    <table st-table="rowCollection" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="id">ID</th>
                <th st-sort="iataCode">iata</th>
                <th st-sort="countryCode">country</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in airports">
                <td>{{row.id}}</td>
                <td>{{row.iataCode}}</td>
                <td>{{row.countryCode}}</td>
            </tr>
        </tbody>
    </table>



    <div class="row well">
        <pre>{{vm.json}}</pre>
    </div>

    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="/Scripts/toastr.min.js"></script>
    <script src="/Foundry/Foundry.js"></script>

    <a href="http://lorenzofox3.github.io/smart-table-website/" target="_blank">smart-table-website</a>
    <script src="/Scripts/smart-table.debug.js"></script>


    <script>
        var knowtApp = angular.module('foundry', ['ui.bootstrap']);

        (function (app, fo, undefined) {

            app.defaultNS = function (name) {
                var id = fo.getNamespaceKey(this.name, name);
                return id;
            }

            app.createType = function () {
                if (!fo[app.name]) {
                    fo.exportTypes();
                }
                return fo[app.name];
            }

            app.run(function ($log, $exceptionHandler, dialogService) {


                //http://codeseven.github.io/toastr/demo.html
                toastr.options = {
                    positionClass: "toast-bottom-left",
                }

                fo.subscribe('info', function (a, b) {
                    toastr.info(a, b);
                });

                fo.subscribe('warning', function (a, b) {
                    toastr.warning(a, b);
                });

                fo.subscribe('error', function (a, b) {
                    toastr.error(a, b);
                });

                fo.subscribe('success', function (a, b) {
                    toastr.success(a, b);
                });

                //load templares for dialogs and shapes...
                fo.utils.loadTemplate('KnowtView.Dialogs.html');
            });

        }(knowtApp, Foundry));


        var airportData = [
             {
                 id: 1,
                 iataCode: 'LHR',
                 countryCode: 'GB',
             },
             {
                 id: 2,
                 iataCode: 'ATL',
                 countryCode: 'US',
             },
             {
                 id: 3,
                 iataCode: 'JFK',
                 countryCode: 'US',
             },
              {
                  id: 4,
                  iataCode: 'YYZ',
                  countryCode: 'CA',
              },
             {
                 id: 5,
                 iataCode: 'LAX',
                 countryCode: 'US',
             },
             {
                 id: 6,
                 iataCode: 'MEX',
                 countryCode: 'MX',
             },
        ];

        var filghtData = [
            {
                id: 1,
                arrivalLocationId: 1,
                departureLocationId: 2,
                conveyanceNumber: '87',
                carrierCode: 'AA',
            },
            {
                id: 2,
                arrivalLocationId: 2,
                departureLocationId: 3,
                conveyanceNumber: '767',
                carrierCode: 'UA',
            },
            {
                id: 3,
                arrivalLocationId: 3,
                departureLocationId: 4,
                conveyanceNumber: '76',
                carrierCode: 'DL',
            },
            {
                id: 4,
                arrivalLocationId: 4,
                departureLocationId: 3,
                conveyanceNumber: '205',
                carrierCode: 'DL',
            },
            {
                id: 5,
                arrivalLocationId: 1,
                departureLocationId: 2,
                conveyanceNumber: '1234',
                carrierCode: 'AT',
            },
            {
                id: 6,
                arrivalLocationId: 1,
                departureLocationId: 6,
                conveyanceNumber: '345',
                carrierCode: 'UA',
            },
            {
                id: 7,
                arrivalLocationId: 4,
                departureLocationId: 5,
                conveyanceNumber: '265',
                carrierCode: 'DL',
            },
            {
                id: 8,
                arrivalLocationId: 5,
                departureLocationId: 6,
                conveyanceNumber: '22',
                carrierCode: 'SAS',
            },
        ];

        (function (app, fo, undefined) {
            var utils = fo.utils;

            fo.meta.establishMetadata(app.defaultNS('flight'), {
                carrierCode: { title: 'Carrier', filter: 'carrierCode({0})' },
                conveyanceNumber: { title: 'Number', filter: 'conveyanceNumber({0})' },
                travelNexus: {
                    title: 'Travel Nexus',
                    filter: 'travelNexus[{0}]',
                    validValuesList: [
                        { code: 'D', displayValue: 'US Domestic' },
                        { code: 'I', displayValue: 'US Arrivals' },
                        { code: 'O', displayValue: 'US Departures' },
                        { code: 'N', displayValue: 'Non US' },
                    ]
                },
            });


            var metaFlight = fo.meta.findMetadata(app.defaultNS('flight'));
            var lookup = fo.filtering.applyMapping(metaFlight.travelNexus.validValuesList, 'code');

            fo.establishType(app.defaultNS('airport'), {
                id: "",
                type: "airport",
                iataCode: '',
                countryCode: '',
                position: [0, 0],
            });

            var airportDictionary = fo.getEntityDictionaryLookup(app.defaultNS('airport'));

            fo.establishType(app.defaultNS('flight'), {
                id: "",
                type: "flight",
                arrivalLocationId: '',
                departureLocationId: '',
                arrivalAirport: function () {
                    var port = airportDictionary[this.arrivalLocationId];
                    return port;
                },
                departureAirport: function () {
                    var port = airportDictionary[this.departureLocationId];
                    return port;
                },
                conveyanceNumber: '',
                carrierCode: '',
                scheduledArrivalTime: '',
                scheduledDepartureTime: '',
                travelNexusCode: function () {
                    var arrival = this.arrivalAirport.countryCode;
                    var departure = this.departureAirport.countryCode;
                    var usArrival = arrival.matches('us');
                    var usDeparture = departure.matches('us');
                    if (usArrival && usDeparture) return 'D';
                    if (usArrival && !usDeparture) return 'I';
                    if (!usArrival && usDeparture) return 'O';
                    return 'N';
                },
                travelNexus: function () {
                    var nexus = lookup[this.travelNexusCode];
                    return nexus.displayValue;
                },
                position: [0, 0],
                flightNumber: function () {
                    return this.carrierCode + ' ' + this.conveyanceNumber;
                },
            });


            app.controller('FoundryController', function ($scope, $log, dialogService) {

                //http://foaas.com/

                var factory = app.createType();
 
                $scope.airports = airportData.map(function (item) {
                    var airport = factory.establishAirport(item, function (obj) { return obj.id;} );
                    return airport;
                });

                $scope.flights = filghtData.map(function (item) {
                    var flight = factory.establishFlight(item, function (obj) { return obj.id; });
                    return flight;
                });

                var vm = fo.makeComponent({
                    title: 'dialog test',
                    json: '',
                    waiting: false,
                    currentSelection: '',
                    validValuesList: metaFlight.travelNexus.validValuesList,
                    canDoGetDataAsync: function () {
                        return this.currentSelection ? true : false;
                    },
                    doDisplayJSON: function () {
                        var spec = this.dehydrate(true);
                        this.json = JSON.stringify(spec, undefined, 3);
                    },
                    doHideJSON: function () {
                        this.json = '';
                    },
                    doToggleJSON: function () {
                        this.json ? this.doHideJSON : this.doDisplayJSON;
                    },
                });


                vm.openDialog = function () {
                    dialogService.doPopupDialog({
                        context: vm,
                        headerTemplate: 'exampleHeader.html',
                        bodyTemplate: 'exampleBody.html',
                        footerTemplate: 'exampleFooter.html',
                    },
                    {
                        //onOK: function ($modalInstance, context) {
                        //    var spec = context.getSpec();
                        //},
                        onCancel: function ($modalInstance, context) {
                        },
                        onExit: function () {
                            vm.doToggleJSON;
                        },
                        onReady: function () {
                            vm.doHideJSON;
                        }
                    },
                    {
                        doGetDataAsync: function (context) {
                            context.waiting = true;
                            setTimeout(function () {
                                context.waiting = false;
                                dialogService.doCloseDialog();
                            }, 10 * 1000);
                        },
                    });
                };


                $scope.vm = vm;
            });




        }(knowtApp, Foundry));

    </script>


    <script src="KnowtViewNgDialog.js"></script>

    <script id="exampleHeader.html" type="text/ng-template">
        <p>you are in charge!</p>
    </script>

    <!--{ code: 'D', displayValue: 'US Domestic' },-->

    <script id="exampleBody.html" type="text/ng-template">
        <div class="form-horizontal" role="form">
            <h4>Go ahead and change the title</h4>
            <select ng-model="context.currentSelection" multiple size="4" ng-options="pick.displayValue for pick in context.validValuesList">
            </select>
            <img ng-show="context.waiting" src="waiting.gif" alt="" />
        </div>
    </script>

    <script id="exampleFooter.html" type="text/ng-template">
        <button class='btn btn-success' data-dismiss='modal' ng-click="doGetDataAsync(context)" ng-disabled="!context.canDoGetDataAsync">OK</button>
        <button class='btn btn-default ' data-dismiss='modal' ng-click="doCancel()" >Cancel</button>
    </script>

</body>
</html>

